<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Teachy</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
     
      <link rel="stylesheet" href="/css/style.css">   
</head>
<body>
      <!-- Navigation bar -->
      <div class="container">
            <nav>
                  <input type="checkbox" id="nav" class="hidden">
                  <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                  </label>
                  <div class="logo">
                        <a href="/">TEACHY</a>
                  </div>
                  <div class="nav-wrapper">
                        <ul>
                              <li><a href="/"><i class="fas fa-home"></i><span> </span>Home</a></li>
                              <li><a href="/manage"><i class="fas fa-cogs"></i><span> </span>Gestisci</a></li>
                              <li><a href="/random"><i class="fas fa-random"></i><span> </span>Random Picker</a></li>
                              <li><a href=/registro><i class="fas fa-address-book"></i><span> </span>Registro</a></li>
                              <li><a href="/about"><i class="fas fa-chart-pie"></i><span> </span>About</a></li> 
                              <li><a class="signin link" href="/users/register"><i class="fas fa-sign-in-alt"></i><span> </span>Login</a></li>
                              <li><a class="signin link notVisible" href="/users/logout"><i class="fas fa-sign-out-alt"></i><span> </span>Logout</a></li>
                   </ul>
                  </div>
            </nav> 
      </div>
      <!-- Pop up login/register -->
      <div class="modal">
            <div class="modeSelector">
                  <ul class="switcher">
                        <li><a href="/users/login" id="switcherLogin">Login</a></li>
                        <li><a href="/users/register" id="switcherSignup">Iscriviti</a></li>
                  </ul>
      
                 <div id="signup">
                    <form class="form" action="/users/register" method="POST" id="signupForm">
                        <p class="spazioCampi">  
                              <input class="widthChanger paddingChanger borderChanger" name="name" type="text" placeholder="Nome" required id="name" minlength="3" tabindex="1">
                        </p>
                        <p class="spazioCampi">   
                            <input class="widthChanger paddingChanger borderChanger" name="email" id="emailField" type="email" placeholder="E-mail" tabindex="2">
                        </p>
                        <p class="spazioCampi">  
                            <input class="widthChanger paddingChanger borderChanger" name="username" type="text" placeholder="Username" tabindex="3">
                        </p>
                
                        <p class="spazioCampi">  
                            <input class="widthChanger paddingChanger borderChanger psw" name="password" type="password" id="password" placeholder="Password" tabindex="4">
                        </p>

                        <p class="spazioCampi">   
                              <input class="widthChanger paddingChanger borderChanger psw" name="password2" type="password" placeholder="Conferma password" tabindex="5">
                        </p>

                        <p class="spazioCampi">
                            <input class="widthChanger paddingChanger" type="submit" id="signup-submit" value="Crea l'account" tabindex="6">
                        </p>
                    </form>
                </div> 
            </div>
      </div>
</body>
<script type="text/javascript">
      $('#switcherSignup').css('background', '#74dd74');
      $('#switcherLogin').css('background', '#c7e5c7');
</script>
<script type="text/javascript" src="/js/form.js"></script>
</html>
